<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add your information 
  </title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./styles/new.css">
</head>

<body>
    <p>What's your name?</p>
    <input type="text" name="name">
    <button type="submit">Add</button>
  </form>
</body>

</html>